In [19]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline
from io import StringIO

In [20]:

file_path = r"C:\Users\yeman\Breast_Cancer_Classification\breast_cancer.data"

In [21]:
# Create DataFrame with the detailed column descriptions as header
columns = [
    'Sample code number', 
    'Clump Thickness', 
    'Uniformity of Cell Size', 
    'Uniformity of Cell Shape', 
    'Marginal Adhesion', 
    'Single Epithelial Cell Size', 
    'Bare Nuclei', 
    'Bland Chromatin', 
    'Normal Nucleoli', 
    'Mitoses', 
    'Class'
]

In [24]:
data = pd.read_csv(file_path, header=None, names=columns)

In [25]:
# Checking the five (5) rows of the dataset
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

# Data Pre-processing

In [27]:
# Checking to see the number of benign and malignant in the dataset
# 2- benign -  458
# 4 - malignant - 241
# This is from the original dataset

data['Class'].value_counts()

Class
2    458
4    241
Name: count, dtype: int64

# Observation: 
From the Original Dataset and from the preprocessing using values_counts() we confirm the following for the Class features
- Benign: 458 (65.5%)
- Malignant: 241 (34.5%)

In [29]:
# Checking the data type of all the features
data.dtypes

Sample code number              int64
Clump Thickness                 int64
Uniformity of Cell Size         int64
Uniformity of Cell Shape        int64
Marginal Adhesion               int64
Single Epithelial Cell Size     int64
Bare Nuclei                    object
Bland Chromatin                 int64
Normal Nucleoli                 int64
Mitoses                         int64
Class                           int64
dtype: object

# Observation: 
All the Features in the datset are of Integer type. except the Bare Nuclei which is an object and therefore need to be converted to an Integer